:root {
    --cell-size: 100px;
    --font-size: 48px;
    --background-color: #160029cc;
    --border-color: #fff;
    --x-color: #ff4d4d;
    --o-color: #4d94ff;
}

#tres-en-raya-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#tres-en-raya-container {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#tres-en-raya-scoreboard {
    font-size: 2em;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    animation: neon-blink 1.5s ease-in-out infinite alternate;
}

#victory-message {
    display: none;
    font-size: 1.5em;
    margin-top: 10px;
}

@keyframes neon-blink {
    from {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 25px rgba(255, 255, 255, 0.7);
    }
    to {
        text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 0.9);
    }
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
    background-color: #160f18;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f048;
    transform: scale(1.05);
}

.cell.x {
    color: var(--x-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-image: url('../../public/x.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px; /* Oculta el texto */
}

.cell.o {
    color: var(--o-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-image: url('../../public/o.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px; /* Oculta el texto */
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-height: 839px) {
    :root {
        --cell-size: 80px;
        --font-size: 36px;
    }
    
    #tres-en-raya-main {
        padding: 5px;
    }
    
    #tres-en-raya-container {
        margin-top: 10px;
        padding: 5px;
        gap: 3px;
    }
    
    #tres-en-raya-scoreboard {
        font-size: 1.5em;
        margin-top: 10px;
    }
}

@media (max-height: 700px) {
    #tres-en-raya-scoreboard {
        font-size: 1.2em;
        margin-top: 5px;
    }
}

@media (max-height: 600px) {
    #tres-en-raya-scoreboard {
        font-size: 1em;
        margin-top: 3px;
    }
} 